/* Styles for the button */
.button {
    background-color: yellow;
    padding: 10px 20px;
    margin: 5px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #ffcc00; /* slightly darker yellow */
    color: white;
  }
.button:active {
    background-color:orange; /* slightly darker yellow */
}